@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  background-color: rgba(240, 237, 237, 0.382);
}

.container {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: white;
}

.userh {
  height: 3.2em;
  display: flex;
  align-items: center;
  gap: 1em;
  border: 1px solid rgb(200, 200, 200);
}

.tiny_thumbnail{
  width: 70px;
  display: flex;
  justify-content: end;
}

.tiny_thumbnail > img {
  height: 2.5em;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 300px;
}

.contact > h2 {
  font-size: 16px;
}

.contact > p {
  font-size: 12px;
  color: grey;
}

.menu {
  width: 130px;
  color: grey;
  gap: 0.5em;
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:end;
}

.btn_section {
  height: 6.5em;
  border: 1px solid rgb(200, 200, 200);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 13em;
  height: 3em;
  background-color: #a491d2;
}

.btn > a {
  color: white;
  font-size: 16px;
}

.friend {
  height: 4.3em;
  display: flex;
  align-items: center;
  gap: 1em;
  border: 1px solid rgb(200, 200, 200);
  background-color: white;
}

.friend:hover {
  background-color: #e8ebe4;
}

.normal_thumbnail{
  width: 80px;
  display: flex;
  justify-content: end;

}

.normal_thumbnail > img {
  height: 3em;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 300px;
}

.contact01 > h2 {
  font-size: 16px;
}

.contact01 > p {
  font-size: 12px;
  font-weight: lighter;
}

section {
  display: none;
  width: 1000px;
}

@media (min-width: 500px) {
  nav {
    width: 425px;
  }

  section {
    display: block;
  }
}

.intro {
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro img {
  width: 300px;
  height: 300px;

}

h1 {
  font-size: 50px;
}

.intro > p {
  font-size: 18px;
  text-align: center;
}

span {
  font-weight: bold;
}
